{{#if logged_in}}
<h2>Dashboard</h2>

<div id="myBlogs">
    {{#each blog as |blog|}}
    <ul> 
        <h3><a href = "/Blogpost/{{{blog.id}}}"> {{{blog.title}}} </a> </h3>
        <button data-id='{{blog.id}}' id="delete">Delete</button> 
    </ul>
    {{/each}}
</div>

<form class="form signup-form">
    <div class="form-group">
    <label for="name-signup">Title:</label>
    <input class="form-input" type="text" id="blog-name" />
    </div>
    <div class="form-group">
    <label for="name-signup">Content:</label>
    <input class="form-input" type="text" id="blog-desc" />
    </div>
</form>
    <div class="form-group">
    <button class="btn btn-primary" type="submit" id="post-button">Post</button>
    </div>

{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}

<script src="./js/post.js"></script>